name: Run Tests
on:
  push:
    branches: ["master"]
permissions:
  contents: read
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: false
      - uses: golangci/golangci-lint-action@v9
        continue-on-error: true
        with:
          args: --verbose --config .github/workflows/golang-lint.json
  test:
    strategy:
      max-parallel: 16
      matrix:
        os: [macos, ubuntu, windows]
        go: ["1.20", "1.22", "1.24"]
    name: ${{ matrix.os }} @ Go ${{ matrix.go }}
    runs-on: ${{ matrix.os }}-latest
    env:
      GO111MODULE: on
      CGO_ENABLED: 1
      PACKAGES: github.com/eudore/eudore,github.com/eudore/eudore/middleware
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}
          cache-dependency-path: go.mod
      - name: Run move
        run: cp _example/*_test.go .
      - name: Run Go Get
        run: go mod tidy && go get golang.org/x/tools/cover@v0.24.1
      - name: Run Bench
        run: go test -run='^$' -bench='.' .
      - name: Run Tests
        run: go test -v -timeout=1m -race -cover -coverprofile='coverage.out' -coverpkg='${{ env.PACKAGES }}' .
      - name: Run Notice
        run: go run _example/otherCover.go
      - name: Run Coverage
        if: matrix.go == '1.20'
        run: go tool cover -html coverage.out -o coverage.html
      - uses: codecov/codecov-action@v5
        if: matrix.go == '1.20'
        with:
          files: coverage.out
          flags: ${{ matrix.os }},go-${{ matrix.go }}
          token: ${{ secrets.CODECOV_TOKEN }}
      - uses: actions/upload-artifact@v6
        if: matrix.go == '1.20'
        with:
          name: Coverage-eudore-${{ github.ref_name }}-${{ matrix.os }}-${{ matrix.go }}
          path: coverage.html